{% extends "base.html" %}

{% block title %}
    {{ kullanici.username }} adlı kullanıcının profili
{% endblock %}

{% block content %}

    <h3 style="font-family: cursive; font-weight: bold;">{{ kullanici.username }} adlı kullanıcının profili</h3>
    <img src="{{ profili.profile_picture.url }}" alt="Profil Resmi">
    <p><strong>E-Posta:</strong> {{ profili.email }}</p>
    <p><strong>Biyografi:</strong> {{ profili.biography }}</p>
    <p><strong>Şehir:</strong> {{ profili.city }}</p>
    <p><strong>Ülke:</strong> {{ profili.country }}</p>
    <p><strong>Doğum Günü:</strong> {{ profili.birthday }}</p>
    <p><strong>Meslek:</strong> {{ profili.occupation }}</p>
    <p><strong>Eğitim:</strong> {{ profili.education }}</p>
    
    <h3 style="font-family: cursive; font-weight: bold;">İzlediğim Filmler</h3>
    <ul>
        {% for film in izledigi_filmler %}
            <li>{{ film.movie.film_adi }}</li>
        {% endfor %}
    </ul>

    <h3 style="font-family: cursive; font-weight: bold;">Favori Filmlerim</h3>
    <ul>
        {% for film in favori_filmleri %}
            <li>{{ film.movie.film_adi }}</li>  
        {% endfor %}
    </ul>

    <h3 style="font-family: cursive; font-weight: bold;">İzlenecek Filmler</h3>
    <ul>
        {% for film in izleyecegi_filmler %}
            <li>{{ film.movie.film_adi }}</li>
        {% endfor %}
    </ul>

    <!-- Kullanıcı Listesine Dön Butonu -->
    <a href="{% url 'kullanici_listesi' %}" class="btn btn-primary btn-sm" style="margin-top: 20px; font-family: cursive;">
        Kullanıcı Listesine Dön
    </a>

    <a href="{% url 'anasayfa' %}" class="btn btn-primary btn-sm" style="margin-top: 20px; font-family: cursive;">
        <i class="fas fa-home"></i> Anasayfaya Dön
    </a>

{% endblock %}

